.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}

.status-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.running {
  color: #4caf50; /* Green */
}

.stopped {
  color: #f44336; /* Red */
}

.unknown {
  color: #9e9e9e; /* Grey */
}

.control-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-button {
  height: 4em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); // dim effect
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // ensure it’s above everything else
}

.refresh-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logout-btn {
  position: absolute;
  top: 10px;
  left: 80px;
}