<div class="refresh-btn">
  <button mat-fab color="primary" (click)="onRefresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<div class="logout-btn">
  <button mat-fab color="primary" (click)="onLogout()">
    <p>Logout</p>
  </button>
</div>
<div class="home-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ serverIp }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="control-content">
        @if (running !== null) {
        <p class="status-text" [ngClass]="running ? 'running' : 'stopped'">
          Server is {{ running ? "RUNNING" : "STOPPED" }}
        </p>
        } @else {
        <p class="status-text unknown">Status UNKNOWN</p>
        } @if (loading) {
        <div class="overlay">
          <mat-progress-spinner mode="indeterminate" diameter="80">
          </mat-progress-spinner>
        </div>
        }
        <button
          class="control-button"
          mat-raised-button
          [color]="running ? 'warn' : 'primary'"
          (click)="toggleServer()"
          [disabled]="running === null"
        >
          {{ running ? "Stop" : "Start" }} Server
        </button>
        @if (error) {
        <p style="color: red;">{{ error }}</p>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
